.local-contexts-block {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    padding: 5px;
    border-radius: 8px;
}

.tk-labels-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.tk-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.tk-label-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tk-label-name {
    color: #555;
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.tk-label-img {
    width: 90px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.tk-label-img:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  
.tk-label-text-container {
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
    font-size: 0.9rem;
    color: #555;
    text-align: left;
    width: 100%;
}

.tk-label-text-container.open {
    max-height: 500px;
    padding: 20px;
}
