/* General styles for the TK labels block */
.local-contexts-block {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    padding: 5px;
    border-radius: 8px;
}

.tk-labels-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.tk-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    text-align: center;
    cursor: pointer;
    text-decoration: none !important;
}

.tk-label:hover {
    text-decoration: none !important;
}
  
.tk-label:focus {
    outline: none;
}

/* Flexbox fixes to ensure text is always left, image always right */
.tk-label-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 10px 15px 0 10px; /* Adjusted padding for spacing */
}

/* Label name styling */
.tk-label-name {
    flex-grow: 1; /* Allows text to take up available space */
    color: #555;
    font-size: 0.95rem;
    font-weight: bold;
    text-align: right;
    word-wrap: break-word;
}

/* Ensures image is always rightmost */
.tk-label-img {
    flex-shrink: 0; /* Prevents the image from shrinking */
    width: 90px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tk-label-img:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  
/* Label text container styling */
.tk-label-text-container {
    overflow: hidden;
    max-height: 0;
    padding: 0; /* Remove padding when hidden */
    transition: max-height 0.5s ease, padding 0.3s ease;
    font-size: 0.9rem;
    color: #555;
    text-align: justify;
    width: 100%;
}

/* Expandable text section */
.tk-label-text-container.open {
    max-height: 500px; /* Adjust based on expected content size */
    padding: 20px; /* Add padding only when open */
}


